<div class="outfits-list">
  {{#each outfits}}
    <div class="outfits-item">
      <img
        src="{{this.image}}"
        alt="{{this.item_type}}"
      />
      <h2>{{this.item_type}}</h2>
      <p>[{{this.brand}}]</p>
    </div>
  {{/each}}
</div>

<!-- pagination control -->
<ul class="pagination">
  {{#if (gt totalOutfitsPages 1)}} <!-- check if there is more than 1 page -->
    {{#if (gt outfitsCurrentPage 1)}} <!-- check if the current page is greater than 1 -->
      <li><a
          href="?outfitsPage={{decrement outfitsCurrentPage}}&locationsPage={{locationsCurrentPage}}&foodsPage={{foodsCurrentPage}}"
        >Previous</a></li>
    {{/if}}


    {{#if (lt outfitsCurrentPage totalOutfitsPages)}}
      <li><a
          href="?outfitsPage={{increment outfitsCurrentPage}}&locationsPage={{locationsCurrentPage}}&foodsPage={{foodsCurrentPage}}"
        >Next</a></li>
    {{/if}}
  {{/if}}
</ul>

