<h1><span class="hashtag"># </span>About Group</h1>
<P>Hi! Here are some info about the group</P>


{{#each group}} <!-- 使用 each 遍历 group_info 数组 -->
<div class="group">
  {{#if (eq this.id 1)}} <!-- 检查 id 是否为 1 -->
    <img src="/img/group2.png" alt="Group Image {{this.id}}" class="group2-image" />
  {{/if}}
  <div class="group-description">
    <h2>{{this.name}}</h2> <!-- 显示组合名称 -->
    <h3>[ {{this.category}} ]</h3> <!-- 添加类别 -->
    <h3>{{this.date}}</h3>
    <p>{{{this.description}}}</p>
  </div>
</div>
{{/each}}



<h1>#About Members</h1>
<p>Members' personal introduction</p>
<div class="shell">
  {{#each members}}
    <div class="box">
      <div class="imgBx">
        <img src="{{this.image}}" alt="{{this.name}}" />
      </div>
      <div class="member-name">
        <h2>{{this.name}}</h2>
      </div>
      <div class="content">
        <p>
          <span class="member-title">Birthday:</span> {{this.birthday}}<br />
          <span class="member-title">MBTI:</span> {{this.mbti}}<br />
          <span class="member-title">Zodiac Sign:</span> {{this.zodiac_sign}}<br />
          <span class="member-title">Blood Type:</span> {{this.blood_type}}
        </p>
      </div>
    </div>
  {{/each}}
</div>
