<h1><span class="hashtag"># </span>Recently Events</h1>
<p>Recent tour information</p>

<div class="events-list">
  {{#each events}}
    <div class="events-item">
      <div class="events-date">
        {{#each (split this.concert_date " ")}}
          <!-- 使用 split 助手函数 -->
          <div class="events-month-day">{{this}}</div>
        {{/each}}
      </div>
      <div class="events-location">
        <span class="events-city">{{this.country}}</span>
        <span class="events-venue">
          <a href="/venues/{{this.id}}" style="text-decoration: none; color: inherit;">{{this.place}}</a>
        </span> 
      </div>
    </div>
  {{/each}}
</div>



<div id="event-details-modal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Venue Details</h2>
    <h5 id="event-address"></h5> <!-- 地址显示 -->
    <h5 id="event-capacity"></h5> <!-- 可容纳人数 -->
    <h5 id="event-open-hours"></h5> <!-- 开放时间 -->
  </div>
</div>


<!-- 仅在最后一页时显示 -->
{{#if (eq currentPage totalPages)}}
  <p class="events-p">* MORE TO BE ANNOUNCED *</p>
{{/if}}

<!-- Pagination Controls -->
<ul class="pagination">
  {{#if (gt totalPages 1)}}
    {{#if (gt currentPage 1)}}
      <li><a href="?page={{decrement currentPage}}">Previous</a></li>
    {{/if}}
    {{#each (range 1 totalPages)}}
      <li><a href="?page={{this}}">{{this}}</a></li>
    {{/each}}
    {{#if (lt currentPage totalPages)}}
      <li><a href="?page={{increment currentPage}}">Next</a></li>
    {{/if}}
  {{/if}}
</ul>