<h1><span class="hashtag"># </span>Recently Events</h1>
<p>Recent tour information</p>

<div class="events-list">
  {{#each events}}
    <div class="events-item">
      <div class="events-date">
        {{#each (split this.concert_date " ")}} <!-- split the date into parts -->
          <div class="events-month-day">{{this}}</div>
        {{/each}}
      </div>
      <div class="events-location">
        <span class="events-city">{{this.country}}</span>
        <span class="events-venue">
          <a href="/venues/{{this.id}}">{{this.place}}</a>
        </span> 
      </div>
    </div>
  {{/each}}
</div>


<!-- modal for displaying venue details -->
<div id="event-details-modal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span> <!-- close modal button -->
    <h2>Venue Details</h2>
    <h5 id="event-address"></h5>
    <h5 id="event-capacity"></h5>
    <h5 id="event-open-hours"></h5>
  </div>
</div>


<!-- only show on the last page -->
{{#if (eq currentPage totalPages)}} <!-- if the current page is the last page -->
  <p class="events-p">* MORE TO BE ANNOUNCED *</p>
{{/if}}

<!-- pagination control -->
<ul class="pagination">
  {{#if (gt totalPages 1)}} <!-- check if there is more than 1 page -->
    {{#if (gt currentPage 1)}} <!-- check if the current page is greater than 1 -->
      <li><a href="?page={{decrement currentPage}}">Previous</a></li>
    {{/if}}
    {{#each (range 1 totalPages)}}
      <li><a href="?page={{this}}">{{this}}</a></li>
    {{/each}}
    {{#if (lt currentPage totalPages)}}
      <li><a href="?page={{increment currentPage}}">Next</a></li>
    {{/if}}
  {{/if}}
</ul>